h1{
    color: rgb(232, 93, 93);
}
p1{
    font-size: larger;
}
img{
    display:flex;
    margin: 25px 0 25px 0;
    
}
h2{
    color:chocolate;
}

p2{
    font-size: larger;
}
h3{
    color: rgb(74, 205, 245);
}
